body {
    font-family: 'Amatic SC', sans-serif;
    margin: 0;
    /* background: linear-gradient(180deg, rgb(52, 78, 245), rgb(253, 253, 110)); */
    background-color: rgb(177, 177, 177);
}

a {
    text-decoration: none;
}

#main-header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(47, 47, 48);
    padding: 0 30px;
    list-style: none;
}
